# 3. 데이터 입출력

In [1]:
import pandas as pd
from pandas import Series, DataFrame

## 1. csv 파일 읽기 - read_csv()

In [2]:
# data/ex1.csv 읽기 (컬럼명이 존재하는 csv 파일)
pd.read_csv('./data/ex1.csv') # 확장자 명은 굳이 중요하지 않음

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
# data/ex2.csv 읽기 (컬럼명이 없는 csv 파일)
pd.read_csv('./data/ex2.csv') # 첫번째 데이터가 헤더가 되버림

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [9]:
pd.read_csv('data/ex2.csv',
            header = None, #  csv 파일의 첫번째 줄이 컬럼명이 아님을 명시함.
            names = ['a','b','c','d','e'])

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
# data/ex3.csv 읽기
pd.read_csv('./data/ex3.csv')

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [13]:
pd.read_csv('./data/ex3.csv',sep='\s+') # sep에는 정규표현식으로 가능, 이렇게 하면 연속된 놈을 하나로 인식해라

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
# data/ex4.csv 읽기 (주석이 포함되어 있는 파일 읽기)
# 1. skiprows를 이용하여, 특정 행을 읽지 않도록 함.
pd.read_csv('./data/ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [17]:
pd.read_csv('./data/ex4.csv',skiprows = [0,2,3]) # 0,2,3번째 행을 읽지 마라

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
#2. comment 인자를 이용하여, 주석은 데이터로 읽지 않음.
pd.read_csv('./data/ex4.csv', comment = '#') # #으로 시작하는 줄을 주석이니까 읽지마라

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 실습 1. read_csv 실습
### ex5.csv 파일 - 구분자는 공백 하나(' ')
<img src="img/3강/csv파일예제.jpg" alt="csv파일예제" style="width: 600px;"/>

In [ ]:
# 실습 1.

In [ ]:
# 용량이 매우 큰 파일 읽기. (로딩 시간도 문제지만, 메모리 부족 시, OOM(Out Of Memory가 발생함.)
#pd.read_csv('data/us_presidental.csv')

In [ ]:
#1) 10줄만 읽어오기

In [ ]:
# 2) 실제 파일을 읽는 게 아니라, Reader 객체만 생성하여, 일정 갯수만큼씩 읽어오기

In [ ]:
#chunksize만큼 데이터를 읽어옴.

## 2. 클립보드를 이용하여 데이터 읽기

In [ ]:
#IE에서는 안되고, 크롬에서 저장하고자 하는 테이블 형태의 데이터를 복사한 후에 아래 명령어 출력하면, 데이터프레임으로 생성됨.

## 3. 데이터베이스에서 읽기
### 파이썬에서 sqlite를 내장하고 있음

In [ ]:
import sqlite3

In [ ]:
#테이블 생성 SQL 정의

In [ ]:
#sqlite 접속

In [ ]:
#테이블 생성 SQL 수행

In [ ]:
# commit() 수행. - SQL 수행 후, commit을 해야만, 데이터베이스에 SQL 구문이 적용됨

In [ ]:
#생성된 테이블에 저장할 데이터 정의
data = [['서울','강남', 15]
       ,['서울','강동', 10]
       ,['서울','동대문', 7]
       ,['서울','양천', 12]
       ,['성남','분당', 12]
       ,['수원','영통', 15]
       ,['성남','중원', 11]
       ,['수원','팔달', 14]
       ]

In [ ]:
# 데이터 적재 SQL 정의

In [ ]:
#데이터 적재 SQL 수행

In [ ]:
# commit() 수행

In [ ]:
#Select SQL 실행1

In [ ]:
#Select SQL 실행2

In [ ]:
# 데이터베이스의 테이블 크기가 큰 경우에는 cursor 사용하기

## 4. 엑셀 파일 읽기
### 기본적으로 첫번째 시트에 있는 데이터를 읽어와서 데이터프레임으로 저장함. 
### 모든 시트를 읽기 위해서는 sheetname인자를 None으로 설정
### sheetname = None. 모든 시트의 데이터를 읽어서 사전 형태로 저장됨. 
### key = 시트의 이름, value = 각 시트에 있는 데이터들을 저장한 데이터프레임

### ex6.xlsx 파일 
<img src="img/3강/엑셀파일예제.jpg" alt="csv파일예제" style="width: 600px;"/>

In [ ]:
# 첫번째 시트 읽기

In [ ]:
# 두번째 시트 읽기

In [ ]:
# 모든 시트 다 읽어오기